.button {
    appearance: none;
    background: none;
    font-size: 32px;
    width: 4rem;
    height: 4rem;
    outline: none;
    border: 2px solid transparent;
    color: rgb(66, 53, 59, 1);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    transition: all 0.15s;
}

.button:hover,
.button:focus {
    --tw-bg-opacity: 0.4;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}

.button:active {
    --tw-bg-opacity: 0.2;
    background-color: rgb(0 140 86 / var(--tw-border-opacity));
}

.button:disabled {
    --tw-bg-opacity: 0.8;
    background-color: rgb(0 140 86 / var(--tw-border-opacity));
}