.container {
  display: grid;
  grid-template-areas:
    'nav'
    'header'
    'main'
    'footer';
  grid-template-rows: auto auto 1fr 36px;
  align-items: center;
  justify-items: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  justify-self: center;
}

.virtualKeyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  width: 24rem;
  align-items: center;
  justify-content: center;
}

.buttonLayout {
  display: flex;
  flex-direction: row;
  row-gap: 0.5rem;
}